.subscribe-container {
	background-color: #010101;
	margin-top: 80px;
	padding-top: 80px;
}

.subscribe-head {
	font-style: PTSansWebBold;
	color: #fcdb00;
}

.subscribe-paragraph {
	color: #898989;
}

.custom-style {
	border: none;
}

@media (min-width: 576px) {
}


@media (min-width: 768px) {
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {

 }