.top-menu-lead {
	display: inline-block;
	position: absolute;
	margin: 4px 50px 0px;
}

.top-menu-lead > .logo {
	float: left;
	margin-right: 10px;
}

.top-menu-lead > span {
	float: left;
	color: #010101;
	font-family: PTSansWebBold;
	font-size: 2.45em;
	line-height: 43px;
}



@media screen and (max-width: 600px) {
	.top-menu-lead {
		top: 10px;
		left: 10px;
		float: none;
		margin: 0px 0px 0px;
	}

	.top-menu-lead > .logo {
		top: 10px;
		left: 10px;
		float: left;
		margin-right: 5px;
	}

	.top-menu-lead > span {
		top: 1px;
		left: 63px;
		position: absolute;
		float: left !important;
		color: #010101;
		font-family: PTSansWebBold;
		font-size: 1.45em;
	}
}